.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.undoneList {
  border-radius: 30px;
  width: 40%;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.075);
}
.undoneList h1 {
  width: 100%;
  background-color: #c75174;
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
  border-radius: 10px;
}

.undoneList li {
  color: black;
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}
.undoneList li:hover {
  background-color: #a1beeb;
}

.doneList {
  border-radius: 10px;
  width: 40%;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.075);
}
.doneList h1 {
  color: #ffffff;
  background-color: #9dbceb;
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
  border-radius: 10px;
}

.doneList li {
  color: black;
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

.doneList li:hover {
  background-color: #c75174;
}
